/************************/
/*        Global        */
/************************/

a {
  color: #0c51ec;
}

body {
  justify-content: center;
}

footer, .push {
  background-color: #333333;
  bottom: 0;
  clear: both;
  color: azure;
  left: 0;
  margin: 0;
  padding: 12px 0 15px;
  text-align: center;
  width: 100vw;
}

form {
  font-size: 15px;
  width: 100%;
}

h1 {
  background-color: #333333;
  clear: both;
  color: azure;
  margin: 0;
  padding: 10px 0 15px;
  text-align: center;
  width: 100vw;
}

h3 {
  margin: 8px;
  text-align: center;
}

hr {
  margin: 8px 0;
  width: 100%;
}

html {
  background: url(../images/nightSpotRev.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

p {
  margin: 2px;
}

/************************/
/*        Classes       */
/************************/

.btn {
  background-color: rgb(60, 82, 60);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
}

.collapsible-body {
  padding: 15px;
}

.col.s12.m4,
.col.s12.m5,
.col.m1 {
  justify-content: center;
  margin: 0;
  padding: 0;
}

.col.s12.m4 {
  width: 473px;
}

.col.s12.m5 {
  opacity: 75%;
}

.container {
  display: flex;
  margin: 0;
  width: 100vw;
}

.hide {
  display: none;
}

.mapBtn {
  background-color: rgb(60, 82, 60);
  margin-bottom: 3px;
  padding: 0;
  width: 100%;
}

.push {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.sites,
.weekday {
  font-weight: 450;
  margin-left: 15px;
}

.show {
  display: block;
}

/************************/
/*         IDs          */
/************************/

#addState.subject {
  border: 1px solid azure;
  border-radius: 5px;
  color: azure;
  font-size: x-large;
  margin-top: 18px;
  opacity: 80%;
  text-align: center;
  width: 99%;
}

#camp-email,
#camp-hours,
#camp-location,
#camp-phone,
#fees-cost,
#total-sites,
#website {
  font-weight: bold;
}

#camp-name {
  border-radius: 5px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}

#collapsibleBtn {
  padding: 18px;
}

#left-col,

#map-box {
  justify-content: center;
  margin: auto;
  margin: 25px 0;
}

#map-div {
  margin: auto;
  border-radius: 5px;
  height: 473px;
  width: 473px;
}

#searchBtn {
  margin-bottom: 25px;
}

/************************/
/*       Buttons        */
/************************/

.btn {
  background: linear-gradient(to left, #2b213b, #9672cc, rgb(240, 113, 10), rgb(60, 82, 60), rgb(21, 36, 21));
  color: black;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  text-shadow: 0 0 6px #333;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  color: #ecf5ff;
  box-shadow: 0 8px 8px 0 #2b213b;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/************************/
/*      Collapsible     */
/************************/

.collapsible {
  background-color: #eee;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin: 15px 0;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  background-color: azure;
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

/************************/
/*        @Media        */
/************************/
@media screen and (max-width: 1024px) {
  #left,
  #middle,
  #right {
    margin: 0;
    width: 4%;
  }
}

@media screen and (max-width: 800px) {
  #left,
  #middle,
  #right {
    display: none;
  }
  .col.s12.m4,
  .col.s12.m5 {
    margin: auto;
    width: 98%
  }
  #map-div {
    width: 100%
  }
  #addState.subject {
    font-size: large;
  }
}  

@media screen and (max-width: 600px) {
  footer {
    padding: 12px 10px 15px;
  }
  h1 {
    font-size: 40px;
  }
  .col {
    display: block;
  }
}

@media screen and (max-width: 475px) {
  h1 {
    font-size: 30px;
  }
  .col.col.s12.m4,
  .col.s12.m5 {
    margin: auto;
    width: 98%
  }
  #map-div {
    width: 100%
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 20px;
  }
}